<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<main>
    <div class="jumbotron">
        <h1>BamaDumps</h1>
        <p>Development version</p>
    </div>
    
    <section id="list-university">
        <h2>University buildings</h2>
        <ol>
            <% buildings.filter(function(obj){return obj.type==='university'}).sort((a, b) => a.name.localeCompare(b.name)).forEach(function(building) { %>
                <li>
                    <strong><a href="buildings/<%= building.name %>"><%= building.name %></a></strong>
                </li>
            <% }); %>
        </ol>
    </section>
    <section id="list-housing">
        <h2>Residence halls</h2>
        <ol>
            <% buildings.filter(function(obj){return obj.type==='housing'}).sort((a, b) => a.name.localeCompare(b.name)).forEach(function(building) { %>
                <li>
                    <strong><a href="buildings/<%= building.name %>"><%= building.name %></a></strong>
                </li>
            <% }); %>
        </ol>
    </section>
    <section id="list-greek">
        <h2>Greek houses</h2>
        <ol>
            <% buildings.filter(function(obj){return obj.type==='greek'}).sort((a, b) => a.name.localeCompare(b.name)).forEach(function(building) { %>
                <li>
                    <strong><a href="buildings/<%= building.name %>"><%= building.name %></a></strong>
                </li>
            <% }); %>
        </ol>
    </section>
    <section id="list-restaurants">
        <h2>Restaurants and bars</h2>
        <ol>
            <% buildings.filter(function(obj){return obj.type==='restaurants'}).sort((a, b) => a.name.localeCompare(b.name)).forEach(function(building) { %>
                <li>
                    <strong><a href="buildings/<%= building.name %>"><%= building.name %></a></strong>
                </li>
            <% }); %>
        </ol>
    </section>
</main>

</body>
</html>